.thumbnail-container {
    border-radius: $border-radius;
    overflow: hidden;
    max-width: 100%;        
    margin-bottom: 25px;
        
    .img {
        float:left;
        margin:0px 10px 5px 0px;
        padding:4px;
        border:0px solid #eee;
        background:none;
        width:250px;
        height:auto;
    }
}
