---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.thumbnail-container {
    border-radius: $border-radius;
    overflow: hidden;
    max-width: 100%;        
    margin-bottom: 25px;  
}

.thumbnail-container img {
    float:left;
    margin:0px 10px 5px 0px;
    padding:4px;
    border:0px solid #eee;
    background:none;
    width:250px;
    height:auto;
}
